body {
    color: #333;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.page-title {
    background-color: #0c6c1c;
    color: #fff;
    padding: 20px;
    margin: 0 -20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page-title-image {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.page-title-image img {
    max-width: 50px;
    height: auto;
}

.section {
    border: 2px solid #0c6c1c;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.5s ease, transform 0.3s;
}

.section:hover {
    transform: scale(1.02);
}

.section.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    position: relative;
      transition: transform 0.3s;
}

   .section.active:hover{
    transform: scale(1.02);
   }

.section h3 {
    color: #0c6c1c;
    font-size: 24px;
    margin-bottom: 15px;
}

.section a {
    color: #0000ff;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

.secao_menu {
    border: 2px solid #0c6c1c;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    padding: 25px;
    margin-top: -20px;
    margin-bottom: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.secao_menu:hover {
    transform: scale(1.02);
}

.secao_menu h3 {
    color: #0c6c1c;
    font-size: 24px;
    margin-bottom: 15px;
}

.secao_menu p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    text-align: justify;
}

.secao_menu a {
    color: #ffffff;
    text-decoration: none;
    background-color: #0c6c1c;
}

.secao_menu a:hover {
    text-decoration: underline;
}

.menu-linha {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.menu-linha a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #0c6c1c;
    border-radius: 15px;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
    transition: transform 0.2s;
}

.menu-linha a:hover {
    color: #0c6c1c;
    background-color: #fff;
    transform: scale(1.1);
}

#mobile-menu {
    display: none;
    text-align: center;
}

.social-media-container {
    margin: 40px 0;
    text-align: center;
}
.social-media-container h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #0c6c1c;
}
.social-media-container .social-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.social-media-container .social-links a {
    display: block;
    margin: 0 10px;
}
.social-media-container .social-links img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
      border-radius: 15px;
}

   .social-media-container img{
    transition: transform 0.2s;
}
   
   .social-media-container img:hover {
    transform: scale(1.1);
}

   .social-media-container-mobile {
    display: none;
}
  .social-media-container-mobile h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #0c6c1c;
}
.social-media-container-mobile .social-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.social-media-container-mobile .social-links a {
    display: block;
    margin: 0 10px;
}
.social-media-container-mobile .social-links img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
      border-radius: 15px;
}

   .social-media-container-mobile img{
    transition: transform 0.2s;
}
   
   .social-media-container-mobile img:hover {
    transform: scale(1.1);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-container a {
    flex: 1 1 calc(33.333% - 20px);
    margin: 5px;
    text-align: center;
}

.button-container a img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.button-container a:hover img {
    transform: scale(1.1);
}

@media (min-width:601px) and (max-width: 979px) {
    .button-container a {
        flex: 1 1 calc(30% - 20px);
        margin: 5px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .section p {
        font-size: 14px;
    }

    .custom-menu {
        flex-direction: column;
    }

    .secao_menu a {
        width: 100%;
        margin: 5px 0;
    }

    .menu-linha a {
        font-size: 12px;
        padding: 10px 20px;
    }

    .menu-linha a:hover {
        color: #0c6c1c;
        background-color: #fff;
        transform: scale(1.1);
    }

    #desktop-menu {
        display: none;
    }

    #mobile-menu {
        display: flex;
        justify-content: center;
    }

    .page-title-image img {
        max-width: 33px;
        height: auto;
    }

    .page-title-image {
        position: absolute;
        right: 20px;
        top: 70%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-container a {
        flex: none;
        width: 80%;
        margin: 10px 0;
        text-align: center;
    }
  
      .social-media-container-mobile {
        display: block;
    }
      .social-media-container{
          display: none;
      }
}